

h2{
  margin-bottom:1.5rem;
}

.location-main-dropdown {
  margin-bottom:1.5em;
}
#city{
  margin-right:1rem;
}

#pickup-return-form{
  display:flex;
  flex-direction:column;
  margin: bottom 1.5em; 
}
label{
  margin-bottom:0.5rem;
}
#box-container{
  display:flex;
  gap:1rem;
  margin-bottom:1.5rem;
}
.box{
  margin-right:0.25rem;
}

#browse-button{
  padding:0.75rem 1rem;
  font-weight:bold;
  border-radius:0.5rem;
  background-color:#017501;
  color:#fff;
  border:none;
  cursor:pointer;
}
#browse-button:hover{
  background-color:#004d00;
}
#pick-up-time,
#return-time {transition: background-color 0.3s;
}
#pick-up-time:hover,
#return-time:hover{
background-color:rgba(0,123,255,0.1);
}

input[type=radio]:checked {
  border: 1px solid #fff;
  box-shadow: 0 0 3px 3px #090;
}